/*General Styles{}*/
@import "overall-spacing.css";
.title{
    font-weight: bold;
}

select, option, input{
    font-size: 1.8rem;
}



.select-div{
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    border: black 1px solid;
}

.select{
    font-size: 1.8rem;
    width: 10em;
}

.spanning-div{
    width: 100%;
}

.small{
    width: 500px;
}

.inline-div{
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.basic-div{
    padding: 0.2em;
    width: 100%;
}

.Big{

}
